@model LibraryManagementSystem.Models.HomePageViewModel
@using Microsoft.AspNetCore.Http
@using X.PagedList.Mvc.Core
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/error.css" />
<h2>Welcome to the Library Management System </h2>

@if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Member")
{
    <h3>List of Books</h3>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    <form asp-controller="Home" asp-action="Index" method="get">
        <p>
            <select asp-for="BookAuthor" asp-items="Model.Author">
                <option value="">Author</option>
            </select>

            <label>Title: <input type="text" asp-for="SearchString" /></label>
            <input type="submit" value="Search" />
        </p>
    </form>

    <div asp-validation-summary="All" class="text-danger"></div>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Year</th>
                <th>Pages</th>
                <th>Language</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Publisher</td>
                    <td>@book.Year</td>
                    <td>@book.Pages</td>
                    <td>@book.Language</td>
                    <td>
                        <form asp-controller="Books" asp-action="Borrow" method="post">
                            <input type="hidden" name="bookId" value="@book.Id" />
                            <button type="submit" class="btn btn-primary">Borrow</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center">
        @Html.PagedListPager(Model.Books, page => Url.Action("Index", new { page, bookAuthor = ViewBag.CurrentFilter, searchString = ViewBag.CurrentSearch }))
    </div>
}
else
{
    @await Html.PartialAsync("_LoginPartial", new LoginViewModel())
}